@media screen and (max-width: 1025px){
    .m-feature-item i{
        font-size: 35px;
    }
    .m-feature-item h3{
        font-size: 20px;
    }
    h5{
        font-size: 17px;
    }
    .services-img img {
        height: 560px;
    }
}
        
@media screen and (max-width: 769px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .social a{
        padding: 0px 10px;
    }
    .top-bar-right{
        justify-content: center;
    }
    .button-right{
        justify-content: center;
    }
    .m-header h2{
        font-size: 25px !important;
    }
    .about-text p{
        font-size: 18px;
    }
    .m-purple-header h2{
        font-size: 25px;
    }
    .py-5{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .service-item{
        margin-bottom: 25px;
    }
    .services-img{
        padding-top: 30px;
    }
    .services-img img {
        height: 400px;
    }
    
    
    
}


@media screen and (max-width: 426px){
    .top-bar-right{
        display: block;
    }
    .text h2{
        font-size: 20px;
        font-weight: bold;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    a{
        font-size: 18px;
    }
    #o-nama{
        margin-top: 50px;
    }
    .m-header h2{
        font-size: 22px !important;
        padding-top: 30px;
    }
    .about-text p{
        font-size: 16px;
    }
    .py-5{
        padding-top: 0px !important;
    }
    .m-purple-header h2{
        font-size: 22px;
    }
    .m-p-y h2{
        padding-top: 20px;
    }
    .btn-link{
        font-size: 18px;
    }
}

/* za 375 i manje */
@media screen and (max-width: 376px){
    .btn-link{
        font-size: 16px;
    }
   
    .services-img img {
        height: 300px;
    }
}


/* Za 321 i manje */
@media screen and (max-width: 321px){
    .about-text p{
        font-size: 14px;
    }
    .services-img img {
        height: 250px;
    }
   

}