@media screen and (max-width: 1025px){
    .m-feature-item i{
        font-size: 35px;
    }
    .m-feature-item h3{
        font-size: 20px;
    }
}
        
@media screen and (max-width: 769px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .social a{
        padding: 0px 10px;
    }
    .top-bar-right{
        justify-content: center;
    }
    .button-right{
        justify-content: center;
    }
    .header-right h2{
        font-size: 25px !important;
    }
    .about-text p{
        font-size: 18px;
    }
    
    
}


@media screen and (max-width: 426px){
    .top-bar-right{
        display: block;
    }
    .text h2{
        font-size: 20px;
        font-weight: bold;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    a{
        font-size: 18px;
    }
    #o-nama{
        margin-top: 50px;
    }
    .header-right h2{
        font-size: 22px !important;
        padding-top: 30px;
    }
    .about-text p{
        font-size: 16px;
    }
}


/* Za 321 i manje */
@media screen and (max-width: 321px){
    .about-text p{
        font-size: 14px;
    }

}