.m-bg-black{
    background-color: #584948;
}
.top-bar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.text{
    padding: 0px 20px;
    color:#ffaa2f;
}
.social{
    color: #ffaa2f;
}
a{
    color: inherit;
    font-size: 30px;
}